{% extends 'main/home.html' %}
{% block content %}
<h2>Ваша корзина</h2>

{% if cart_items %}
<table>
    <tr>
        <th>Товар</th>
        <th>Количество</th>
        <th>Сумма</th>
    </tr>
    {% for item in cart_items %}
    <tr>
        <td>{{ item.toy.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.toy.price|floatformat:2 }} ₸</td>
    </tr>
    {% endfor %}
</table>
<p><strong>Итого: {{ total }} ₸</strong></p>
{% else %}
<p>В корзине пока нет товаров.</p>
{% endif %}

{% endblock %}
