{% extends 'main/home.html' %}
{% block content %}
    <h2>О нас</h2>
    <p>Добро пожаловать в наш магазин мягких игрушек! Мы предлагаем широкий ассортимент качественных и безопасных игрушек для детей всех возрастов. Наша миссия - приносить радость и улыбки в каждый дом с помощью наших мягких друзей.</p>
    <p>Мы гордимся тем, что предоставляем только лучшие игрушки, которые проходят строгий контроль качества. Наши игрушки изготовлены из безопасных материалов и соответствуют всем стандартам безопасности.</p>
    <p>Спасибо, что выбрали нас! Мы надеемся, что вы найдете идеальную мягкую игрушку для себя или своих близких.</p>
{% endblock %}