{% extends 'main/home.html' %}
{% load tz %} 
{% block content %}

<div style="max-width:600px;margin:30px auto;background:#fff;padding:25px;border-radius:12px">

<h2>Личный кабинет</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div style="text-align:center">
        {% if profile.avatar %}
            <img src="{{ profile.avatar.url }}" width="120" style="border-radius:50%">
        {% else %}
            <img src="/static/default-avatar.png" width="120">
        {% endif %}
    </div>

    <input type="file" name="avatar">

    <button type="submit" name="delete_avatar">Удалить аватар</button>

    <hr>

    <input type="text" name="username" value="{{ user.username }}" required>
    <input type="email" name="email" value="{{ user.email }}">

    <button type="submit">Сохранить</button>
</form>

<hr>

<h3 style="margin-top:30px;">🧾 История покупок</h3>

{% if orders %}
<div style="display:flex; flex-direction:column; gap:15px;">
    {% for order in orders %}
    <div style="
        display:flex;
        gap:15px;
        padding:15px;
        background:#fff;
        border-radius:12px;
        box-shadow:0 4px 10px rgba(0,0,0,0.08);
        align-items:center;
    ">
        <img src="{{ order.toy.image.url }}" width="80" style="border-radius:10px;">

        <div style="flex:1;">
            <h4 style="margin:0;">{{ order.toy.name }}</h4>
            <p style="margin:5px 0; color:#666;">
                {{ order.created_at|localtime|date:"d.m.Y H:i" }}
            </p>
        </div>

        <strong style="font-size:18px;">
            {{ order.price }} ₸
        </strong>
    </div>
    {% endfor %}
</div>
{% else %}
<p>Вы ещё ничего не покупали</p>
{% endif %}



</div>

{% endblock %}
